body {
    font-family: 'Roboto Condensed', sans-serif;
    background-image: url('../image/bg.jpg');
    min-width: 1000px;
}

/* Disable dev-only containers */

#debug {
    display: none;
}

#status {
    display: none;
}

/* Bootstrap overriding */

.popover {
    font-family: 'Roboto Condensed', sans-serif !important;
    max-width: 446px;
}

.popover-title.bg-danger {
    background-color: #f2dede !important;
}

.popover-title.bg-success {
    background-color: #dff0d8 !important;
}

button.close {
    margin-top: 4px;
    margin-right: 8px;
}

.btn-success {
    background-color: #48e048;
}

/* Popover stuff */

.popover-arrow {
    position: absolute;
    z-index: 2000;
    display: none;
}

.sur_block {
    position: absolute;
    opacity: 0;
    z-index: 100000;
}

/* Base markup */

#top-panel {
    width: 100%;
    height: 10vh;
    min-height: 50px;
    max-height: 80px;

    padding: 16px;
}

#progress {
    overflow-y: hidden;
}

.wrap {
    height: 85vh;
    margin-top: 20px;
    min-height: 400px;
}

#editor {
    height: 100%;
    width: 400px;
    margin-right: 5px;
    /*overflow-y: scroll;*/
}

.blocklyWorkspace {
    height: 1600px !important;
}

.blocklySvg {
    overflow: scroll !important;
}

/*.injectionDiv {*/
    /*height: 1600px;*/
/*}*/

#preview {
    /*height: 100%;*/
    min-height: 100%;
    /*width: 300px;*/
    width: 20%;
    float: right;
    border: solid #dddddd 1px;
    background-color: #fff;
    position: relative;
}

#preview #display {
    /*width: 100%;*/
    /*height: 400px;*/
    position: absolute;
    bottom: 0;
    padding: 10px;
    text-align: center;
}

.gif-demo {
    height: 100%;
    width: auto;
}

#actions {
    /*margin-top: 20px;*/
    margin-bottom: 20px;
}

#comment {
    padding: 10px;
}

#show-help {
    /*width: 30px;*/
    /*height: 30px;*/
    text-align: center;
    margin: 10px;
    padding: 6px;
    font-size: 20px;
    /*line-height: 1.428571429;*/
    /*border-radius: 15px;*/
}

#execute-btn {
    font-size: 14px;
}

/* Base strip classes */

.strip {
    float: right;
    max-width: 72%;
    height: 50px;
    overflow-y: scroll;
    white-space: nowrap;
}

.strip span {
    display: inline-block;
    margin-right: -4px;
    /*background-color: deeppink;*/
}

.strip span:first-of-type {
    /*background-color: blue;*/
}

.strip span:last-of-type  {
    /*background-color: red;*/
}

/* Specific strip styles */

.strip.ws2801 span {
    width: 99px;
    height: 43px;
    background-image: url('../image/strip/ws2801/item.png');
    background-size: cover;
}

.strip.ws2801 span:first-of-type {
    width: 118px;
    background-image: url('../image/strip/ws2801/begin.png');

}

.strip.ws2801 span:last-of-type {
    width: 111px;
    background-image: url('../image/strip/ws2801/end.png');
}

.strip.ws2801 span a.led, a.num {
    display: block;
    width: 18px;
    height: 17px;
    margin-left: 33px;
    margin-top: 14px;
    border-radius: 17px;
}

.strip.ws2801 span a.num {
    position: relative;
    width: 29px;
    margin-top: -19px;
    margin-left: 27px;
    text-align: center;
    color: black;
}

.strip.ws2801 span a.led {
    background-color: white;
    filter: blur(2px);
}

.strip.ws2801 span:first-of-type a.led, a.num {
    margin-left: 54px;
    margin-top: 14px;
}

.strip.ws2801 span:last-of-type a.led, a.num {
    width: 18px;
    margin-left: 33px;
    margin-top: 14px;
}

.strip.ws2801 span:first-of-type a.num {
    margin-left: 53px;
    width: 19px;
}

.strip.ws2801 span a.led-warning {
    background-color: darkorange;
}

.strip.ws2801 span a.led-success {
    background-color: lawngreen;
}